@import "tailwindcss";

@font-face {
    font-family: 'DM Sans';
    src: url('../../public/assets/fonts/DM_Sans/DMSans-VariableFont_opsz\,wght.ttf');
}

@font-face {
    font-family: 'Fira Code';
    src: url('../../public/assets/fonts/Fira_Code/FiraCode-VariableFont_wght.ttf');
}

@theme {
    --font-sans: 'DM Sans';
    --color-*: initial;

    --color-neutral-900 : #1C1A19;
    --color-neutral-800 : #201E1D;
    --color-neutral-700 : #34302D;
    --color-neutral-600 : #4A4846;
    --color-neutral-400 : #C0BFBF;
    --color-neutral-300 : #DEDCDA;
    --color-neutral-200 : #EFEDEB;
    --color-neutral-100 : #FBF9F7;
    --color-neutral-0 : #FFFFFF;

    --color-blue-200 : #e1f1fe;
    --color-blue-500 : #93CEFC;
    --color-blue-700 : #75B0DE;
    --color-blue-800 : #5792C0;
    --color-blue-900 : #022B4A;

    --color-green-200 : #E9F5EA;
    --color-green-500 : #9DD3A9;
    --color-green-700 : #008531;
    --color-green-900 : #132A18;

    --color-yellow-200 : #FFF5E1;
    --color-yellow-500 : #FACC79;
    --color-yellow-700 : #EA9806;
    --color-yellow-900 : #4A3003;

    --color-red-400 : #F04438;
    --color-red-600 : #D92D20;
}

@layer components {
    body {
        width: 100%;
        height: 100%;
        background-color: var(--color-neutral-900);
        padding: 16px;
        display: flex;
        justify-content: center;
    }
    .text-preset-1 {
        font-size: 40px;
        font-weight: 800;
        line-height: 130%;
        letter-spacing: -1px;
        color: var(--text-neutral-0);
    }

    .text-preset-2 {
        font-size: 32px;
        font-weight: 800;
        line-height: 130%;
        letter-spacing: -0.5px;
        color: var(--text-neutral-0);
    }

    .text-preset-3 {
        font-size: 28px;
        font-weight: 700;
        line-height: 130%;
        letter-spacing: -0.5px;
        color: var(--text-neutral-0);
    }

    .text-preset-4 {
        font-size: 24px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: -0.5px;
        color: var(--text-neutral-0);
    }

    .text-preset-5 {
        font-size: 20px;
        font-weight: 600;
        line-height: 130%;
        letter-spacing: -0.5px;
        color: var(--text-neutral-0);
    }

    .text-preset-6 {
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.5px;
        color: var(--text-neutral-0);
    }

    .text-preset-7 {
        font-size: 18px;
        font-weight: 400;
        line-height: 150%;
        letter-spacing: -0.2px;
        color: var(--text-neutral-400);
    }

    .text-preset-7-semibold {
        font-size: 18px;
        font-weight: 500;
        line-height: 150%;
        letter-spacing: -0.2px;
        color: var(--text-neutral-400);
    }

    .text-preset-8 {
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.2px;
        color: var(--text-neutral-400);
    }

    .text-preset-8-italic {
        font-size: 16px;
        font-weight: 400;
        line-height: 130%;
        letter-spacing: -0.2px;
        color: var(--text-neutral-400);
        font-style: italic;
    }

    .text-preset-9 {
        font-family: 'Fira Code';
        font-size: 16px;
        font-weight: 400;
        line-height: 146%;
        letter-spacing: -0.4px;
    }
}
