---
import Socials from "../components/Socials.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <!-- COMPONENT -->
  <section class="flex flex-col gap-6">
    <h2>About Me</h2>
    <p>
      Hi, I’m Paulina! Ever since I can remember, I’ve had a passion for
      creativity and problem-solving. That’s what led me to the world of
      front-end web development. There’s something magical about seeing an idea
      come to life in the browser—whether it’s a simple layout experiment or a
      complex interface for a bigger project.
    </p>
    <p>
      When I’m not coding, I love getting lost in a good book. My taste is
      pretty eclectic: I’ll happily read everything from fantasy novels to
      biographies of tech pioneers. Reading helps me unwind and often sparks new
      ideas for my coding projects.
    </p>
    <p>
      Another big passion of mine is the great outdoors. Hiking allows me to
      disconnect from the digital world and reconnect with nature. I love
      challenging hikes with rewarding views at the top. And if I’m not on the
      trails, you might catch me rock climbing. The combination of mental focus
      and physical endurance is a perfect parallel to tackling tough coding
      challenges!
    </p>
    <p>Some of my favorite books:</p>

    <ul class="list-disc pl-6">
      <li>
        <b>“The Pragmatic Programmer”</b> by Andrew Hunt and David Thomas (for helpful
        insights into software development)
      </li>
      <li>
        <b>“Ready Player One”</b> by Ernest Cline (for some futuristic escapism)
      </li>
      <li><b>“The Hobbit”</b> by J.R.R. Tolkien (for a bit of fantasy fun)</li>
      <li><b>“Educated”</b> by Tara Westover (for incredible inspiration)</li>
    </ul>

    <p>
      I absolutely love my workspace as a place that inspires me to do my best
      work, so I thought I’d share it with you:
    </p>
    <div class="w-full overflow-hidden rounded-lg md:rounded-xl">
      <img
        class="md:hidden"
        src="/public/assets/images/image-workspace-small.jpg"
        alt="image-workspace-small"
      />
      <img
        class="hidden md:flex"
        src="/public/assets/images/image-workspace-large.jpg"
        alt="image-workspace-large"
      />
    </div>
    <p>
      I hope this blog not only documents my growth but also helps others see
      that coding can be for everyone. Thanks for joining me on this journey!
    </p>

    <h4>Follow me</h4>
    <Socials size="large" />
  </section>
</Layout>
