---
import Layout from "../layouts/Layout.astro";
import NewsletterForm from "../components/NewsletterForm.astro";
---

<Layout>
  <section class="flex flex-col gap-6">
    <h2>Newsletter</h2>
    <p>
      Want to stay updated on my latest articles, coding tutorials, and personal
      adventures? Sign up for my newsletter! It’s a simple way to keep track of
      new posts and occasional coding tips I discover. Just drop your email in
      the sign-up box, and I’ll send you updates whenever there’s something new
      to share.
    </p>
    <h5>
      I’d love to have you along for the ride and also hear about your own
      journey!
    </h5>

    <NewsletterForm client:load />
  </section>
</Layout>
