---
import Divider from "./Divider.astro";
import Socials from "./Socials.astro";
---

<footer class="w-full mt-auto">
  <Divider />
  <section class="flex py-4">
    <span class="mr-auto">Made with ❤️ and ☕️</span>
    <Socials size="small" />
  </section>
</footer>
