---
import Divider from "./Divider.astro";
import Socials from "./Socials.astro";

const socials = [
  {
    name: "x",
    href: "",
    image: import.meta.env.BASE_URL + "/assets/images/logo-x.svg",
  },
  {
    name: "github",
    href: "",
    image: import.meta.env.BASE_URL + "/assets/images/logo-github.svg",
  },
  {
    name: "linkedin",
    href: "",
    image: import.meta.env.BASE_URL + "/assets/images/logo-linkedin.svg",
  },
  {
    name: "frontend-mentor",
    href: "",
    image: import.meta.env.BASE_URL + "/assets/images/logo-frontend-mentor.svg",
  },
];
---

<footer class="w-full mt-auto">
  <Divider />
  <section class="flex py-4">
    <span class="mr-auto">Made with ❤️ and ☕️</span>
    <Socials size="small" />
  </section>
</footer>
