---
const socials = [
  { name: "x", href: "", image: "../../public/assets/images/logo-x.svg" },
  {
    name: "github",
    href: "",
    image: "../../public/assets/images/logo-github.svg",
  },
  {
    name: "linkedin",
    href: "",
    image: "../../public/assets/images/logo-linkedin.svg",
  },
  {
    name: "frontend-mentor",
    href: "",
    image: "../../public/assets/images/logo-frontend-mentor.svg",
  },
];
---

<footer class="w-full mt-auto">
  <section class="flex py-4 border-t border-neutral-700">
    <p class="text-preset-8 mr-auto text-neutral-400">Made with ❤️ and ☕️</p>
    <ul class="flex gap-4">
      {
        socials.map((social) => (
          <a href={social.href}>
            <img src={social.image} alt={"logo-" + social.name} />
          </a>
        ))
      }
    </ul>
  </section>
</footer>
