---
import data from "../data.json";
import { formatDate } from "../scripts/formatDate";
import { getCollection } from "astro:content";

const allPosts = await getCollection("blog");
---

<section class="flex flex-col gap-8">
  <div class="flex items-end gap-3">
    <h2>Latest Articles</h2>
    <hr class="border-blue-500 border-2 w-[40px] mb-2" />
  </div>
  <div class="flex flex-col gap-6">
    {
      allPosts.map((post: any, index) =>
        index < 5 ? (
          <div class="flex flex-col gap-2">
            <a
              class="text-preset-5"
              href={import.meta.env.BASE_URL + "/blog/" + post.slug}
            >
              {post.data.title}
            </a>
            <span class="text-preset-8 italic">
              {formatDate(post.data.publishedAt)}
            </span>
          </div>
        ) : (
          ""
        )
      )
    }
    <a
      class="text-preset-6 underline decoration-blue-500 decoration-3"
      href={import.meta.env.BASE_URL + "/blog"}>View all articles</a
    >
  </div>
</section>
