---
import Divider from "./Divider.astro";
import MenuIcon from "../../public/assets/images/icon-menu.svg";
import MenuCloseIcon from "../../public/assets/images/icon-menu-close.svg";
import SunIcon from "../../public/assets/images/icon-sun.svg";
import MoonIcon from "../../public/assets/images/icon-moon.svg";

const navLinks = [
  { name: "Home", href: "" },
  { name: "Blog", href: "blog" },
  { name: "About", href: "about" },
  { name: "Newsletter", href: "newsletter" },
];

const url = new URL(Astro.url);
const segments = url.pathname.split("/");
const endpoint = segments[2];
---

<nav
  class="flex items-center w-full rounded-[10px] p-[6px] border border-neutral-700 bg-neutral-800 relative"
>
  <!-- image -->
  <div class="w-[40px] h-[40px] rounded-xl overflow-hidden mr-auto">
    <img
      src={import.meta.env.BASE_URL + "/assets/images/image-avatar.jpg"}
      alt="image-avatar"
    />
  </div>

  <!-- links -->
  <ul class="hidden lg:flex items-center gap-6 mr-5 ml-auto list-none pl-0">
    {
      navLinks.map((navLink) => (
        <li>
          <a
            class={`text-preset-8 ${navLink.href == endpoint ? "underline decoration-blue-500 decoration-4" : ""} `}
            href={import.meta.env.BASE_URL + "/" + navLink.href}
          >
            {navLink.name}
          </a>
        </li>
      ))
    }
  </ul>

  <!-- Menu button -->
  <button
    class="flex lg:hidden justify-center items-center w-[40px] h-[40px] rounded-lg hover:cursor-pointer ml-auto relative mr-1.5"
    id="menu-button"
  >
    <MenuIcon class="stroke-neutral-0" />
  </button>

  <!-- Menu close button -->
  <button
    class="hidden lg:hidden justify-center items-center w-[40px] h-[40px] rounded-lg hover:cursor-pointer ml-auto relative bg-neutral-0 mr-1.5"
    id="menu-close-button"
  >
    <MenuCloseIcon class="stroke-neutral-900" />
  </button>

  <!-- Theme button -->
  <button
    class="flex justify-center items-center w-[40px] h-[40px] rounded-lg border hover:cursor-pointer border-neutral-700 bg-neutral-900"
  >
    <img
      src={import.meta.env.BASE_URL + "/assets/images/icon-sun.svg"}
      alt="icon-theme"
    />
  </button>

  <!-- dropdown -->
  <div
    id="dropdown"
    class="hidden w-full h-fit bg-neutral-800 border border-neutral-700 p-3 rounded-[10px] absolute left-0 top-16 transition-all drop-shadow-2xl"
  >
    <ul class="flex flex-col gap-1.5 ml-auto list-none pl-0">
      {
        navLinks.map((navLink, index) => (
          <>
            <li>
              <a class="text-preset-8" href={navLink.href}>
                {navLink.name}
              </a>
            </li>
            {index < navLinks.length - 1 && <Divider />}
          </>
        ))
      }
    </ul>
  </div>
</nav>

<script type="module">
  const menuButton = document.getElementById("menu-button");
  const menuCloseButton = document.getElementById("menu-close-button");
  const dropdown = document.getElementById("dropdown");

  // open
  menuButton.addEventListener("click", () => {
    dropdown.classList.toggle("hidden");

    menuButton.classList.remove("flex");
    menuButton.classList.add("hidden");

    menuCloseButton.classList.remove("hidden");
    menuCloseButton.classList.add("flex");
  });

  // close
  menuCloseButton.addEventListener("click", () => {
    dropdown.classList.toggle("hidden");

    menuButton.classList.remove("hidden");
    menuButton.classList.add("flex");

    menuCloseButton.classList.remove("flex");
    menuCloseButton.classList.add("hidden");
  });
</script>
