---

---

<form action="/submit" method="POST">
  <fieldset class="flex flex-col items-start gap-4">
    <label for="email" class="text-preset-7 -mb-4">Email Address</label>
    <input
      type="text"
      id="email"
      name="email"
      class=`border border-neutral-600 bg-neutral-800 rounded-[10px] px-4 py-3 text-preset-7 w-full hover:cursor-pointer hover:bg-neutral-700 focus:border-b-blue-500 active:border-blue-500`
      placeholder="email@example.com"
      required
    />
    <span id="error-message" class="hidden text-red-400 gap-2 -mt-2">
      <img src="/public/assets/images/icon-error.svg" alt="a" /> Please enter a valid
      email address.
    </span>
    <span id="success-message" class="hidden text-green-500 gap-2 -mt-2">
      <img src="/public/assets/images/icon-success.svg" alt="a" /> You’re subscribed!
      Check your inbox for updates.
    </span>

    <button
      class="bg-blue-500 rounded-[10px] px-6 py-3 text-preset-6 text-neutral-900 hover:cursor-pointer hover:bg-blue-700"
      type="submit">Stay updated</button
    >
    <span>Unsubscribe anytime. No spam, I promise 🙂</span>
  </fieldset>
</form>

<script>
  const form = document.querySelector("form");
  form?.addEventListener("submit", async (event) => {
    event.preventDefault();
    const email = document.getElementById("email") as HTMLInputElement | null;
    const errorMessage = document.getElementById("error-message");
    const successMessage = document.getElementById("success-message");
    const emailRegex = /^[^\s@]+@[^\s@]+\.[^\s@]+$/;

    const showError = () => {
      // Add red border
      email?.classList.remove("border-neutral-600");
      email?.classList.add("border-red-400");

      // Show error message
      errorMessage?.classList.remove("hidden");
      errorMessage?.classList.add("flex");
    };

    const hideError = () => {
      // Remove red border
      email?.classList.remove("border-red-400");

      // Hide error message
      errorMessage?.classList.remove("flex");
      errorMessage?.classList.add("hidden");
    };

    const showSuccess = () => {
      // Show green border
      email?.classList.remove("border-neutral-600");
      email?.classList.add("border-green-500");

      // Show success message
      successMessage?.classList.remove("hidden");
      successMessage?.classList.add("flex");
    };

    const hideSuccess = () => {
      // Hide green border
      email?.classList.remove("border-green-500");
      email?.classList.add("border-neutral-600");

      // Hide success message
      successMessage?.classList.remove("flex");
      successMessage?.classList.add("hidden");
    };

    if (!email || !emailRegex.test(email.value)) {
      showError();
      hideSuccess();
    } else {
      hideError();
      showSuccess();
    }
  });
</script>
