---
const { size } = Astro.props;
const socials = [
  {
    name: "x",
    href: "",
    image: import.meta.env.BASE_URL + "/assets/images/logo-x.svg",
  },
  {
    name: "github",
    href: "",
    image: import.meta.env.BASE_URL + "/assets/images/logo-github.svg",
  },
  {
    name: "linkedin",
    href: "",
    image: import.meta.env.BASE_URL + "/assets/images/logo-linkedin.svg",
  },
  {
    name: "frontend-mentor",
    href: "",
    image: import.meta.env.BASE_URL + "/assets/images/logo-frontend-mentor.svg",
  },
];
---

<ul class=`flex items-center ${size == 'large' ? 'gap-3' : 'gap-4'}`>
  {
    socials.map((social) => (
      <li>
        <a
          href=""
          class={
            size == "large"
              ? "flex justify-center items-center rounded-[10px] w-[40px] h-[40px] border border-neutral-700"
              : ""
          }
        >
          <img class="text-neutral-0" src={social.image} alt={social.name} />
        </a>
      </li>
    ))
  }
</ul>
